@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, html { 
	height:100%;
	width:100%;
	margin: 0;

	background-color: #816C68;
	color: #F9F9F9;

	font-family: 'Open Sans', san-serif;
}

p {
	width: 100%;
	text-align:center;
}

a{
	color: #4D4D4D;
}

.hidden {
	display:none;
}

.input-container,
.playlist-container {
	padding:10px;
}

.input-container {
	margin-bottom: 20px;
}

.input-container h1 {
	font-weight: 700;
}

.field-input {
	background-color: #F9F9F9;
	font-size: 15px;

	border-style: none;
	padding:10px;
}

.btn-add,
#btn-undo {
	background-color: #4D4D4D;
	color: #F9F9F9;
	border-style: none;

	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	padding:10px ;
}

.playlist {
	width:100%;
	min-height: 300px;
}

.error-message {
	background:#4D4D4D;
	color: #A69E9B;
	padding: 10px;
	border-radius: 5px;
}


@media screen and (min-width: 426px){

}

@media screen and (min-width: 768px){
	body, html {
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.input-container,
	.playlist-container {
		border: 30px solid ;
		border-image-source: url(/img/cover.jpg);
		border-image-slice: 100;
	}

	.input-container {
		width:30%;
		height: 80%;
		margin-right: 10%;
	}

	.input {
		height: 70%;

		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.input-container h1 {
		margin:0;
		margin-top: -15%;
		margin-left: -15%;

		font-size: 50px;
	}

	.playlist-container {
		width:30%;
		height: 80%;

		padding:none;
	}

	.playlist {
		height: 100%;
	}
}

@media screen and (min-width: 1025px){

}