@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, html { 
	height:100%;
	width:100%;
	margin: 0;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #816C68;
	color: #F9F9F9;

	font-family: 'Open Sans', san-serif;
	font-weight: 700;
}

.title {
	height: 100%;
	width: 100%;
	background: url(/img/cover.jpg);
	background-size: cover;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title h1 {
	font-size: 40px;
}

.btn {
	background-color: #816C68;
	color: #F9F9F9;
	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
}

@media screen and (min-width: 426px){
	.title {
		height: 80%;
		width: 80%;

		display:block;
	}

	.title h1 {	

		font-size: 50px;

		margin: 0;
		margin-top: -7%;
		margin-left: -7%;
	}

	.login-container {
		height: 100%;
	    width: 100%;

	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

}

@media screen and (min-width: 768px){
	.title {
		height: 80%;
		width: 60%;
	}

}

@media screen and (min-width: 1025px){
	.title {
		height: 80%;
		width: 30%;
	}

}